@import URL('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.welcome{
  color: white;
  font-family: 'Permanent Marker', cursive !important;
  margin-top: 100px !important;
}

.sub-title{
  text-shadow: 3px 3px 7px #eb7b47;

}

.reg-img{
  background-image: url("/images/img1.jpg");
  width: 100vw;
  height: 100vh;
  padding-top: 160px;
}

.input-login{
  background-color: white;
  border-radius: 50px;
  font-size: 15px;
  height: 40px;
  width: 100%;
  margin-top: 20px;
}

.Reg-select{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.select-option{
  background-color: white;
  border-radius: 30px;
  height: 30px;
}

.register{
  padding: 32px;
  background-color: #1c0c21d7;
  box-shadow: 5px 5px 1em #F8688B;
}

.btn{
  background-color: #F8688B !important;
  border-radius: 50px !important;
  
}

.btn-register{
  background-color: #F8688B !important;
  border-radius: 50px !important;
  margin-top: 30px !important;
}

.link-login{
  color: #EBBD47 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
