*{
    box-sizing: border-box;
}
.cadastro{
  width: 400px;
}
.headerSaloon {
  display: flex;
  justify-content: space-between;
}

.logoSaloon {
  width: 100px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.welcome{
  color: white;
  margin-top: 100px !important;
  width: 100% !important;
}


.imagemLogo,
.imagemTexto{
  width: 100%;
}

.sub-title{
  margin-top: 20px ;
  text-align: center;

}

.reg-img{
  background-image: url("/images/friends.jpg");
  width: 100vw;
  height: 100vh;
  padding-top: 160px;
}

.inputLogin{
  background-color: white;
  border-radius: 50px;
  font-size: 15px;
  height: 40px;
  width: 100%;
  margin-top: 20px;
}

.Reg-select{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.select-option{
  background-color: white;
  border-radius: 30px;
  height: 30px;
}

.register{
  padding: 80px !important;
  background-color: #000000;
  box-shadow: 5px 5px 1em #F8688B;
}

.btn{
  background-color: #F8688B !important;
  border-radius: 50px !important;
  width: 180px;
  margin: 30px 0 !important;
}

.btn :target{
  background-color: purple !important;
}

.btn-register{
  background-color: #F8688B !important;
  border-radius: 50px !important;
  margin-top: 30px !important;
}

.link-login{
  color: #EBBD47 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.fa-sign-out{
  font-size: 25px !important;
  padding: 20px;
}
.fa-home{
  font-size: 25px !important;
  padding: 20px;  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
