*{
    box-sizing: border-box;
}
.kitchen-main{
    background-image: url("../images/img1.jpg");
    color: #EBBD47;
    height: 100vh;
    text-align: center;
    width: 100vw;
}
.headerSaloon{
    display: flex;
    justify-content: space-around;
}

.logoSaloon{
    margin: auto;
    width: 200px;
}

.cardPedido {
    background-image: url(../images/moldura.png);
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 430px;
    margin: 0 auto;
    padding-bottom: 90px;
    padding-top: 100px;
    width: 380px !important;

}

.pedido{
    flex-grow: 1;
    width: 200px;
    margin: auto;
    margin-left: 90px;
    
}
.btnPronto{
    margin: auto !important;
    width: 30%;
}

.carrossel {
    margin: 50px auto;
    width: 90%;
}