* {
    box-sizing: border-box;
}

.kitchen-main {
    background-image: url("../images/img1.jpg");
    color: #EBBD47;
    height: 100vh;
    text-align: center;
    width: 100vw;
}

.cardPedido {
    background-image: url(../images/moldura.png);
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
    padding-bottom: 90px;
    padding-top: 100px;
    width: 330px !important;
}

.time {
    font-size: 12px;
}

.pedido {
    flex-grow: 1;
    width: 150px;
    margin: auto;
    margin-left: 90px;
    color: rgb(5, 34, 122);
    font-weight: bold;
    font-size: 16px;
}

.btnPronto {
    margin: auto !important;
    width: auto;
    height: auto;
}

.carrossel {
    margin: 50px 50px;
}

@media only screen and (max-device-width: 460px) {
    .cardPedido {
        height: 250px;
        width: 200px !important;
        padding-bottom: 50px;
        padding-top: 60px;
        font-size: 10px;
    }
    .pedido {
        width: 100px;
        margin-left: 48px;
        margin-right: 48px;
        font-size: 12px;
    }
    .titleKitchen {
        width: 280px;
    }
    .time {
        font-size: 9px;
        margin-right: 22%;
        margin-left: 22%;
    }
}